.projects {
  display: flex;
  width: 100%;
  padding: 24px 0;
  background-color: var(--color5);
}

.projects h2 {
  display: flex;
  align-items: center;
  color: var(--color2);
}
.projects h2::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: var(--color2);
  margin-right: 12px;
}
.textMe {
}
