.sectionContact {
  display: flex;
  width: 100%;
  padding: 24px 0;
  background-color: var(--color3);
}

.contactTitle {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color2);
}
.contactTitle::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: var(--color2);
  margin-right: 12px;
}
.contactMessage {
  font-size: 14px;
  color: var(--color2);
}
