.sectionDescriptionMe {
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  background-color: var(--color2);
}
.sectionDescriptionMe h2 {
  display: flex;
  align-items: center;
  color: var(--color1);
}
.sectionDescriptionMe h2::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: var(--color1);
  margin-right: 12px;
}
.textMeContainer {
  color: var(--color5);
  display: flex;
  justify-content: space-between;
}
