.navigationContainer {
  border-right: 1px solid var(--color1);
}
.navigationContainer .containerList {
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listLinks {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 400px;
}
.link {
  background-color: var(--color4);
  display: flex;
  align-items: center;
  color: var(--color1);
  border: solid 1px var(--color1);
  padding: 8px 12px;
  margin-bottom: 8px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: bold;
  height: 56px;
  width: 56px;
  overflow: hidden;
  transition: 0.3s;
}
.link:hover {
  width: 100%;
  color: var(--color4);
  background-color: var(--color1);
}
.link span {
  white-space: nowrap;
}
.link a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.link svg {
  transition: 0.3s;
  margin-right: 12px;
}

.link:hover svg {
  color: #fff;
  fill: #fff;
  stroke: #fff;
}
